<br />
<form method="post" action="/Home/PostInput">
    <div class="d-flex justify-content-between">
        <div>
            <div class="row align-items-center">
                <div class="col-5">
                    <label for="maID" class="col-form-label">Mã:</label>
                </div>
                <div class="col-7">
                    <input type="text" id="maID" name="maID" class="form-control" required value="@ViewBag.RandomString">
                </div>
            </div>
            <div class="row align-items-center mt-3">
                    <div class="col-5">
                    <label for="diaChi" class="col-form-label">Địa chỉ:</label>
                </div>
                <div class="col-7">
                    <input type="text" id="diaChi" name="diaChi" class="form-control" required>
                </div>
            </div>
            <div class="row align-items-center mt-3">
                <div class="col-5">
                    <label for="dienThoai" class="col-form-label">Điện thoại:</label>
                </div>
                <div class="col-7">
                    <input type="text" id="dienThoai" name="dienThoai" class="form-control" required>
                </div>
            </div>
                <div class="row align-items-center mt-3">
                <div class="col-5">
                    <label for="email" class="col-form-label">Email:</label>
                </div>
                <div class="col-7">
                    <input type="email" id="email" name="email" class="form-control" placeholder="abc@gmail.com" required>
                </div>
            </div>
                <div class="row align-items-center mt-3">
                <div class="col-5">
                    <label for="loaiKH" class="col-form-label">Loại khách hàng:</label>
                </div>
                <div class="col-7">
                    <select class="form-select" name="loaiKH" aria-label="Default select example">
                        <option value="u" selected>Khác</option>
                        <option value="vip">Vip</option>
                    </select>
                </div>
            </div>
        </div>
        <div>
            <div class="row align-items-center">
                <div class="col-5">
                    <label for="ten" class="col-form-label">Tên *:</label>
                </div>
                <div class="col-7">
                    <input type="text" id="ten" name="ten" class="form-control" required>
                </div>
            </div>
            <div class="row align-items-center mt-3">
                <div class="col-5">
                    <label for="passPort" class="col-form-label">ID/Passport:</label>
                </div>
                <div class="col-7">
                    <input type="text" id="passPort" name="passPort" class="form-control" placeholder="9999999" required>
                </div>
            </div>
            <div class="row align-items-center mt-3">
                <div class="col-5">
                    <label for="diDong" class="col-form-label">Di động:</label>
                </div>
                <div class="col-7">
                    <input type="text" id="diDong" name="diDong" class="form-control" required>
                </div>
            </div>
            <div class="row align-items-center mt-3">
                <div class="col-5">
                    <label for="taiKhoanNH" class="col-form-label">Tài khoản ngân hàng:</label>
                </div>
                <div class="col-7">
                    <input type="text" id="taiKhoanNH" name="taiKhoanNH" class="form-control" placeholder="03111xxxx" required>
                </div>
            </div>
            <div class="row align-items-center mt-3">
                <div class="col-5">
                    <label for="hanTT" class="col-form-label">Hạn thanh toán:</label>
                </div>
                <div class="col-7">
                    <input type="text" id="hanTT" name="hanTT" class="form-control" required>
                </div>
            </div>
        </div>
        <div>
            <div class="row align-items-center">
                <div class="col-5">
                    <label for="ngaySinh" class="col-form-label">Ngày sinh:</label>
                </div>
                <div class="col-7">
                    <input type="date" id="ngaySinh" name="ngaySinh" class="form-control">
                </div>
            </div>
            <div class="row align-items-center mt-3">
                <div class="col-5">
                    <label for="ngayCap" class="col-form-label">Ngày cấp:</label>
                </div>
                <div class="col-7">
                    <input type="date" id="ngayCap" name="ngayCap" class="form-control">
                </div>
            </div>
            <div class="row align-items-center mt-3">
                <div class="col-5">
                    <label for="fax" class="col-form-label">Fax:</label>
                </div>
                <div class="col-7">
                    <input type="text" id="fax" name="fax" class="form-control" required>
                </div>
            </div>
            <div class="row align-items-center mt-3">
                <div class="col-5">
                    <label for="tenNH" class="col-form-label">Tên ngân hàng:</label>
                </div>
                <div class="col-7">
                    <input type="text" id="tenNH" name="tenNH" class="form-control" placeholder="Vietcombank, ACB, ..." required>
                </div>
            </div>
        </div>
    </div>
    <div class="text-danger mt-3 text-center">
        <p>@TempData["result"]</p>
    </div>
    <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-primary m-3">Lưu</button>
    </div>
</form>
<div class="d-flex justify-content-center">
    <form method="post" action="/Home/ExportFile">
        <button class="btn btn-primary m-3" type="submit">Export File</button>
    </form>
</div>

<br />

<table class="table" style="height: 500px; display: block; overflow-y: auto;">
    <thead>
        <tr>
            <th>Mã ID</th>
            <th>Tên</th>
            <th>Ngày sinh</th>
            <th>Địa chỉ</th>
            <th>Passport</th>
            <th>Ngày cấp</th>
            <th>Điện thoại</th>
            <th>Di động</th>
            <th>Fax</th>
            <th>Email</th>
            <th>Tài khoản NH</th>
            <th>Tên NH</th>
            <th>Loại KH</th>
            <th>Hạn thanh toán</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var khachhang in ViewData["KhachhangList"] as List<KhachHang>)
        {
            <tr>
                <td>@khachhang.MaID</td>
                <td>@khachhang.Ten</td>
                <td>@khachhang.NgaySinh</td>
                <td>@khachhang.DiaChi</td>
                <td>@khachhang.PassPort</td>
                <td>@khachhang.NgayCap</td>
                <td>@khachhang.DienThoai</td>
                <td>@khachhang.DiDong</td>
                <td>@khachhang.Fax</td>
                <td>@khachhang.Email</td>
                <td>@khachhang.TaiKhoanNH</td>
                <td>@khachhang.TenNH</td>
                <td>@khachhang.LoaiKH</td>
                <td>@khachhang.HanTT</td>
            </tr>
        }
    </tbody>
</table>

@if (ViewBag.TotalPages > 1)
{
    <div class="pagination">
        @if (ViewBag.CurrentPage > 1)
        {
            <a href="/Home/Input?page=@(ViewBag.CurrentPage - 1)" class="page-link">Previous</a>
        }

        @for (int i = 1; i <= ViewBag.TotalPages; i++)
        {
            <a href="/Home/Input?page=@i" class="page-link @(i == ViewBag.CurrentPage ? "active" : "")">@i</a>
        }

        @if (ViewBag.CurrentPage < ViewBag.TotalPages)
        {
            <a href="/Home/Input?page=@(ViewBag.CurrentPage + 1)" class="page-link">Next</a>
        }
    </div>
}
